@keyframes logoMove {
    from {
        width: 25px;
        opacity: 0;
    }
    to {
        width: 475px;
        opacity: 1;
    }
}

#logo {
    animation: logoMove 5s;
}

body {
    font-family: 'Poppins', serif;
    background-image: url('../images/concrete_seamless.png');
    background-color: #f1f1f1;
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.nav_links {
    display: flex;
    flex-direction: column;
}

a:visited {
    color: rgb(0, 0, 238); /* Manually picked value that matches both Safari and Chrome */
}

.card {
    display: flex;
    border-radius: 50px 50px 0 0;
    flex-direction: column;
    flex-basis: 450px;
}

.card > header {
    background-color: #288088;
    border: solid 2px #45ADAD;
    padding: 20px 0;
    border-radius: 50px 50px 0 0;
}

.pricing {
    display: flex;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
}

.gallery {
    display: flex;    
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
}

.gallery > img {
    border: solid 10px #50C7C7;
    margin: 10px;
    width: 300px;
}

@media screen and (min-width: 900px) {
    header {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    .nav_links {
        flex-direction: row;
    }

    .card {
        flex-basis: 275px;
        justify-content: space-evenly;
    }

    .pricing {
        align-items: center;
    }

    body > header {
        position: sticky;
        top: 0;
        z-index: 999;
    }
}

@media (prefers-reduced-motion: reduce) {
    #logo {
        animation: none;
    }
}

@media print {
    body {
        font-family: Arial, Helvetica;
        background-image: none;
    }

    

    header {
        flex-direction: column;
        align-items: center;
    }

    .nav_links {
        flex-direction: row;
        justify-content: center;
        gap: 70%; /* Hand-tuned */
    }

    .card {
        border: solid 2px #45ADDD;
        flex-basis: 325px;
    }

    .pricing {
        align-items: flex-end;
    }

    .gallery, #gallery {
        display: none;
    }

    .card li:nth-child(2):after {
        content: '👍';
    }
}